---
title: Data manipulation with pandas
author: Bryan Quispe
date: last-modified
lang: es
geometry:
  - top=3mm
  - left=2mm
  - right=3mm
  - bottom=3mm
format:
  pdf:
    papersize: a4
---

# Introducing Dataframes
Pandas is buit with matplolib and numpy
* method .head()
* attribute .shape shows the number of rows and columns of a dataframe.
* method .describe() provides statistics properties
* attribute .value provides an array that contains all data. In a two dimentional numpy array (one array per each row.
* attribute .columns contains the column names of the dataframe.
* attribute .index contains row names.

In [2]:
import pandas as pd
import numpy as np

homeless = pd.read_csv("homelessness.csv", index_col=0)
homeless.head(3)

               region    state  individuals  family_members  state_pop
0  East South Central  Alabama       2570.0           864.0    4887681
1             Pacific   Alaska       1434.0           582.0     735139
2            Mountain  Arizona       7259.0          2606.0    7158024

In [54]:
print("\n############# Info attribute ###########")
print(homeless.info())
print("\n############# shape attribute ###########")
print(homeless.shape)
print("\n############# describe method ###########")
print(homeless.describe())
print("\n############# values attribute ###########")
print(homeless.values[0:5])
print("\n############# columns attribute ###########")
print(homeless.columns)
print("\n############# index attribute ###########")
print(homeless.index)

############# Info attribute ###########
<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

############# shape attribute ###########
(51, 5)

############# describe method ###########
         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

############# values attribute ###########
[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]]

############# columns attribute ###########
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

############# index attribute ###########
Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64')

# Sorting and subsetting
## Sorting
We can sorting a datafrom using a column:

In [22]:
print("sorting values")
print(homeless.sort_values("individuals").head())

sorting values
                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

We can also sort_values with a list:

In [23]:
print(homeless.sort_values(["individuals", "family_members"]).head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

To change the direction of this sorting we use the argument asciending:

In [27]:
print(homeless.sort_values(["individuals", "family_members"],
                           ascending = [True, False]).head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

## Subsetting columns
Using a simple square brackets we can subset a dataframe by columns like a pandas object.

In [29]:
homeless["region"].head()

0    East South Central
1               Pacific
2              Mountain
3    West South Central
4               Pacific
Name: region, dtype: object

sing a doble square brackets we can subset a dataframe by columns like a dataframe.

In [32]:
print(homeless[["region", "individuals"]].head())

               region  individuals
0  East South Central       2570.0
1             Pacific       1434.0
2            Mountain       7259.0
3  West South Central       2280.0
4             Pacific     109008.0

## Subsetting rows
That is possible creating logical conditions.

In [49]:
print(homeless[homeless["individuals"] > 10000].sort_values("individuals",ascending = True))

                region       state  individuals  family_members  state_pop
37             Pacific      Oregon      11139.0          3337.0    4181886
47             Pacific  Washington      16424.0          5880.0    7523869
43  West South Central       Texas      19199.0          6111.0   28628666
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
4              Pacific  California     109008.0         20964.0   39461588

We can combine multiple logical operators and subset more efficently.

In [50]:
pacif = homeless["region"] == "Pacific"
hawaii = homeless["individuals"] < 10000
homeless[pacif & hawaii]

     region   state  individuals  family_members  state_pop
1   Pacific  Alaska       1434.0           582.0     735139
11  Pacific  Hawaii       4131.0          2399.0    1420593

## Subsetting using .isin()
When we have more than one categorical variables to subset is much better to use the method .isin().

In [57]:
homeless[homeless["state"].isin(["Alaska", "Oregon"])]

     region   state  individuals  family_members  state_pop
1   Pacific  Alaska       1434.0           582.0     735139
37  Pacific  Oregon      11139.0          3337.0    4181886

# Summary statistics

In [45]:
sales = pd.read_csv("sales_subset.csv", index_col = 0)
sales.columns = ["store", "type", "dptmn", "date", "ws",
                 "ih", "temp", "fuel", "unemp"]
print(sales["date"].min())
print(sales["date"].max())

2010-02-05
2012-10-26

Using a custom function **aggregate()**

In [59]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Print IQR of the temperature_c column
print(sales[["temp","fuel","unemp"]].agg([iqr, "median"]))

             temp      fuel  unemp
iqr     16.583333  0.073176  0.565
median  16.966667  0.743381  8.099

Using accumulative funcions:

In [66]:
print(sales["temp"].cumsum()[0:5])
print(sales["temp"].cummin()[0:5])
print(sales["temp"].cummax()[0:5])

0     5.727778
1    13.783333
2    30.600000
3    53.127778
4    80.177778
Name: temp, dtype: float64
0    5.727778
1    5.727778
2    5.727778
3    5.727778
4    5.727778
Name: temp, dtype: float64
0     5.727778
1     8.055556
2    16.816667
3    22.527778
4    27.050000
Name: temp, dtype: float64